
/* Стилі для планшетів (від 768px до 1024px) */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-left: -25%;
  }

  .center-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .center-menu p,
  .right-block div {
    margin: 5px 0;
  }
  .block {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .title-subtitle {
    padding-right: 0;
    text-align: center;
  }

  .photo {
    margin-top: 20px;
  }

  .element {
    flex-direction: column;
    align-items: center;
  }
  .view{
    margin-top: 700px;
  }
  .view-3{
    margin-top: 700px;
  }
}

/* Стилі для мобільних пристроїв (до 767px) */
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: -25%;
  }

  .center-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .center-menu p,
  .right-block div {
    margin: 5px 0;
  }

  .right-block {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .login-icon,
  .contact-button,
  .languages {
    margin-top: 10px;
  }

  .contact-button {
    width: 100%;
    text-align: center;
  }

  .block {
    margin-top: 350px;
    flex-direction: column;
    align-items: center;
  }

  .title-subtitle {
    text-align: center;
    padding: 0 10px;
  }

  .photo {
    margin-top: 20px;
    width: 100%;
  }

  .photo img {
    max-width: 100%;
  }

  .box-icon-medical {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: 10px;
  }

  .icon-medical {
    width: 100%;
    height: auto;
  }

  /*  */
  .element {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .text-wrapper-9 {
    font-size: 16px;
  }

  .text-wrapper-10, .text-wrapper-11 {
    font-size: 14px;
  }

  .skontaktuj-si-z-nami {
    padding: 10px;
    font-size: 14px;
  }
}
