/* Стилі для планшетів (від 768px до 1024px) */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-left: -25%;
  }

  .center-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .center-menu p,
  .right-block div {
    margin: 5px 0;
  }
  .block {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .title-subtitle {
    padding-right: 0;
    text-align: center;
  }

  .photo {
    margin-top: 20px;
  }

  .view-2 {
    flex-direction: column;
    align-items: center;
  }
  .view {
    margin-top: 700px;
    margin-left: 25%;
  }
  .view-3 {
    margin-top: 1600px;
  }
  .text-wrapper-12 {
    margin-left: 18%;
  }

  .form-sale {
    flex-direction: column;
    align-items: center;
    margin-left: -15%;
  }
  .czekamy-na-ciebie {
    margin-top: 110px;
  }
  .test-page .price {
    margin-top: 2150px;
    max-width: 30%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .logo-text {
    margin-top: 2050px;
    max-width: 60%;
    margin-left: -25%;
  }
  .contact-block {
    margin-top: 2000px;
  }
  .contact-block.overlap-3 {
    flex-direction: column;
    align-items: center;
     }

     .social-media-2,.text-wrapper-22, .text-wrapper-24{
        margin-top: 200px;
        margin-left: -50%;
     }
  .test-page .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 2000px;
  }
  .test-page .policy {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-left: -50%;
  }
}

/* Стилі для мобільних пристроїв (до 767px) */
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: -25%;
  }

  .center-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .center-menu p,
  .right-block div {
    margin: 5px 0;
  }

  .right-block {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .login-icon,
  .contact-button,
  .languages {
    margin-top: 10px;
  }

  .contact-button {
    width: 100%;
    text-align: center;
  }

  .block {
    margin-top: 350px;
    flex-direction: column;
    align-items: center;
  }

  .title-subtitle {
    text-align: center;
    padding: 0 10px;
  }

  .photo {
    margin-top: 20px;
    width: 100%;
  }

  .photo img {
    max-width: 100%;
  }

  .box-icon-medical {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: 10px;
  }

  .icon-medical {
    width: 100%;
    height: auto;
  }

  /*  */
  .element {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .text-wrapper-9 {
    font-size: 16px;
  }

  .text-wrapper-10,
  .text-wrapper-11 {
    font-size: 14px;
  }

  .skontaktuj-si-z-nami {
    padding: 10px;
    font-size: 14px;
  }
}
